div.listItem {
    margin: 30px;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 18;
}

div.listItem:hover {
    box-shadow: 0 0 2px 0.1px darkorchid; 
}

.imageBlock {
    position: relative;
}

.metaBlock {
    margin-left: 1.5vw;
    width: 50%;
}


.squareImg {
    position: relative;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 5px;
}

.squareImg:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.list {
    flex: 1;
    width: 800px;
    margin-top: 50px;
    margin-left: 75px;
    margin-bottom: 100px;
}

.businessName {
    font-family: "Open Sans", sans-serif;
    font-size: 2vw;
}

.contactInfo {
    color: grey;
    line-height: 7px;
    margin-top: 8px;
    font-size: 0.75vw;
    text-align: right;
}

.businessDescription {
    color: grey;
    font-size: 0.75rem;
    max-height: 1vh;
}

.businessRating {
    float: left;
    margin-right: 2vw;
    font-size: 1vw;
}

.businessDis {
    margin-left: 0.5vw;
    font-size: 1vw;
    color: grey;
    margin-bottom: 1vh;
}
