.container {
    display: flex;
    width: 100%;
}

.checkout {
    float: right;
    width: 100%;
    background-color: rgb(241, 246, 250);
    padding: 1rem;
    padding-top: 1.0rem;
    padding-bottom: 1.4rem;
    border-radius: 1.7rem;
}

.imgArea {
    float: left;
    width: 100%;
}

.itemImg {
    position: relative;
    width: 30rem;
    height: 20rem;
    object-fit: contain;
    border-radius: 1.7rem;
}

.titleForImage {
    position: relative;
    width: 30rem;
    height: 20rem;
    object-fit: cover;
}

.payWith {
    text-align: center;
    padding-bottom: 0.14rem;
    font-size: 0.8em;
    color: rgb(193, 192, 192);
    font-family: Roboto, Open Sans, Segoe UI, sans-serif;
}