.container {
    display: flex;
    width: 100%;
}

.checkout {
    float: right;
    width: 100%;
}

.imgArea {
    float: left;
    width: 100%;
}

.itemImg {
    position: relative;
    width: 24rem;
    height: 16rem;
    object-fit: contain;
    border-radius: 1.7rem;
}

.titleForImage {
    position: relative;
    width: 24rem;
    height: 16rem;
    object-fit: cover;
}